html {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  font-weight: bold;
}

/* * {
  border: 1px solid red;
} */

.container {
  width: 100%;
  height: 100vh;
}

.controls,
.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-box {
  width: 80%;
  margin: 0;
}

.video {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.controls {
  margin: 2px;
}
.play-controls {
  width: 78%;
  margin: 0;
  padding: 10px;
  height: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.left-controls {
  width: 20%;
  display: flex;
  justify-content: start;
}

.right-controls {
  width: 25%;
  display: flex;
  justify-content: end;
}

.start-time,
.duration {
  margin: 0 3px;
}
.left-controls > i {
  margin: 0 5px;
}

.volume {
  width: 50px;
  display: flex;
  align-items: center;
}

.volume-progress {
  width: 50px;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.volumeProgress {
  width: 50%;
  height: 5px;
  background-color: red;
}

.speed {
  width: 50px;
  margin: 0 10px;
}

.progress {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.video-progress-back {
  width: 77%;
  height: 5px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.video-progress {
  height: 5px;
  background-color: red;
  border-radius: 10px;
  width: 50%;
}

.controls {
  position: relative;
  z-index: 2;
  margin-top: -40px;
}

.progress {
  position: absolute;
  z-index: 3;
  margin-top: -47px;
}
/* * {
  border: 1px solid red;
} */
