html {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  font-weight: bold;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-box {
  width: 80%;
}

.video {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.controls {
  margin: 2px;
  position: relative;
  margin-top: -40px;
  width: 77%;
}
.play-controls {
  margin: 0;
  padding: 10px;
  height: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.left-controls {
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.right-controls {
  display: flex;
  justify-content: right;
  align-items: end;
  margin-bottom: -2px;
}

.start-time,
.duration {
  margin: 0 3px;
  user-select: none;
}
.left-controls > i {
  margin: 0 5px;
}

.left-controls > i:hover {
  color: red;
}

.volume {
  width: 50px;
  display: flex;
  align-items: center;
}

.volume-progress {
  width: 100%;
  height: 5px;
  background: rgba(221, 220, 220, 0.8);
}

.volumeBar {
  width: 100%;
  height: 5px;
  background-color: red;
}

.expand {
  cursor: pointer;
}

.speed {
  width: 65px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.speed > option {
  background-color: gray;
  color: white;
}

.speed:focus {
  outline: none;
}

.progress {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  margin-top: -8px;
  cursor: pointer;
}

.video-progress-back {
  width: 90%;
  height: 5px;
  background: rgba(221, 220, 220, 0.8);
  border-radius: 10px;
  transition: height 0.1s ease-in;
}

.video-progress-back:hover {
  height: 6px;
}

.video-progress {
  height: 5px;
  background-color: red;
  border-radius: 10px;
  width: 0%;
}

@media only screen and (max-width: 910px) {
  body {
    font-size: 0.5em;
  }
  .speed {
    height: 12px;
    font-size: 0.5em;
    width: 45px;
  }
}

@media only screen and (max-width: 700px) {
  .play-controls {
    height: 5px;
  }
  .controls {
    margin-top: -30px;
    margin-left: 07px;
  }
}

@media only screen and (max-width: 350px) {
  .controls {
    height: 5px;
  }
  body {
    font-size: 0.5em;
  }

  .volume .volume-progress {
    width: 15px;
    border: 1px solid red;
  }

  .left-controls {
    width: 10%;
  }
  .speed {
    margin: 0px 2px;
  }
  .start-time,
  .duration {
    margin: 0 1px;
  }
  .left-controls > i {
    margin: 0 1px;
  }
}
